{% extends 'base.html' %}

{% block content %}
  <h1>DETAIL</h1>
  <hr />
  <div>
    <h5>{{ movie.title }}</h5>
    <p>{{ movie.description }}</p>

    {% if user == movie.user %}
        <a href="{% url 'movies:update' movie.pk %}">UPDATE</a>
    
        <form action="{% url 'movies:delete' movie.pk %}" method='POST'>
          {% csrf_token %}
          <button type = 'submit'>DELETE</button>
        </form>
    
    {% endif %}

        <a href="{% url 'movies:index' %}">BACK</a>
 
    <hr>
    
    <h2>댓글 목록</h2>
    {% for comment in comments %}
    {% comment %} 댓글 지우기 {% endcomment %}
    {% if user == comment.user %}
    <form action="{% url 'movies:comments_delete' movie.pk comment.pk %}" method="POST" style="display: inline;">
      {% csrf_token %}
      <input type="submit" value="DELETE" />
    </form>
  {% endif %}
</li>
{% endfor %}
</ul>
<hr />
{% comment %} 댓글 작성하기 {% endcomment %}
<form action="{% url 'movies:comments_create' movie.pk %}" method="POST">
{% csrf_token %}
{{ comment_form }}
<input type="submit" />
</form>
    
    
    
    
    
    {% endfor %}

{% endblock %}